body{
    height: 100vh;
}
.container-cards{
    padding: 10vh 6vw 0;
    display: grid;
    grid-template: 40vh 40vh/1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.tarjeta
{
    
        margin: 0;
        padding: 20px 20px;
    
}